<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
    <body>
        <div layout:fragment="content">
            <h1 class="text-center mb-4">Gêneros</h1>

            <th:block th:insert="~{fragment/success-message.html}"></th:block>

            <a th:href="@{/ui/genres/new}" class="btn btn-outline-success mb-3">
                <i class="fas fa-fw fa-user-plus"></i> Novo
            </a>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(genres)}">
                            <td class="text-center fw-bold" colspan="10">Nenhum registro foi encontrado</td>
                        </tr>
                        <tr class="text-center" th:each="genre: ${genres}">
                            <td th:text="${genre.id}">Id</td>
                            <td th:text="${genre.name}">Nome</td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{/ui/genres/{id}(id=${genre.id})}" class="btn btn-sm btn-outline-primary">
                                        <i class="fas fa-fw fa-pencil-alt"></i>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" th:attr="data-bs-href=@{/ui/genres/{id}/delete(id=${genre.id})}">
                                        <i class="fas fa-fw fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${totalPages > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a th:replace="~{fragment/genres-paging :: paging(1, '<<', 'Primeira página')}"></a>
                        </li>
                        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a th:replace="~{fragment/genres-paging :: paging(${currentPage - 1}, 'Anterior', 'Página anterior')}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                            <a th:replace="~{fragment/genres-paging :: paging(${page}, ${page}, 'Página ' + ${page})}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a th:replace="~{fragment/genres-paging :: paging(${currentPage + 1},'Próxima', 'Próxima página')}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a th:replace="~{fragment/genres-paging :: paging(${totalPages}, '>>', 'Última página')}"></a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="deleteConfirmModal" class="modal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Atenção!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <p>Tem certeza de que deseja excluir este gênero?</p>
                        </div>
                        <div class="modal-footer d-block">
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-sm btn-outline-secondary w-100" data-bs-dismiss="modal">Fechar</button>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-sm btn-outline-danger w-100">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block layout:fragment="scripts">
            <script type="text/javascript">
                $(document).ready(function () {
                    const modal = document.getElementById('deleteConfirmModal');
                    modal.addEventListener('show.bs.modal', function (event) {
                        const button = event.relatedTarget;
                        const href = button.getAttribute('data-bs-href');
                        const modalDeleteButton = modal.querySelector('a');
                        modalDeleteButton.href = href;
                    });
                });
            </script>
        </th:block>
    </body>
</html>