<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">
<body>
<div layout:fragment="content">
    <h1 class="text-center mb-4">Confirme seus dados</h1>

    <form method="POST" th:action="@{/ui/subscribe/start}" class="mx-auto w-50" th:object="${subscription}">
        <th:block th:insert="~{fragment/error-message.html}"></th:block>
        <th:block th:insert="~{fragment/success-message.html}"></th:block>
        <fieldset>
            <legend>Melhor streaming do Brasil</legend>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label>E-mail</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
                <div class="col-sm-12 mb-3">
                    <label>Valor</label>
                    <input type="text" class="form-control" th:field="*{billingAmount}">
                </div>
                <div class="col-sm-12 mb-3">
                    <label>Período em dias</label>
                    <input type="text" class="form-control" readonly th:field="*{billingPeriod}">
                </div>
                <div class="col-sm-12 mb-3">
                    <label>País</label>
                    <input type="text" class="form-control" th:field="*{country}">
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-sm-6">
                <a th:href="@{/}" class="btn btn-outline-secondary w-100">
                    Voltar
                </a>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-outline-success w-100">
                    Assinar
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>